<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Nutrition image analysis</title>
</head>
<body>
    <nav>
        <h1>Nutrition Image analyzer</h1>
        <ul>
            <li><a>Home</a></li>
            <li><a>Classify</a></li>
        </ul>
    </nav>
    <div class="Main_body1">
            <h2>Upload image to classify</h2>
            <form method="post">
            <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
            <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
            <img id="output" width="200"/></br>	
            <input type="submit" onsubmit="myfunction()" value="submit" style="cursor: pointer;"></button>
        </form>    
        </div>
    <div class="show_data">

    </div>
</body>
<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

    function myfunction(){
        var text = $('#output').val();
        $.ajax({
            url:"/predict",
            type:"POST",
            data: {text:text}
        }).done(function(response){
            var html = "<div>"
            response = response.result;
            $.each(response,function(key,val){
                console.log(val);
                html += "<p>" + val + "</p>"
            });
            html += "</div>"
            $(".show_data").append(html);
        })
    }
    </script>
</html>