<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Nutrition image analysis</title>
</head>
<body>
    <nav>
        <h1>Nutrition Image analyzer</h1>
        <ul>
            <li><a href="./index.html" class="active">Home</a></li>
            <li><a href="./image.html">Classify</a></li>
        </ul>
    </nav>
    <div class="Main_body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit et doloribus soluta earum.
                Praesentium quod ipsum tenetur ipsam quae consequuntur ut, labore veniam porro error amet ullam 
                eos dolore nihil repellat quis id numquam? Quaerat, alias. Nisi aliquam illo, repudiandae quo 
                non rerum voluptatum amet, nulla aut saepe recusandae minima sint, laborum corporis atque. 
                Aliquam, numquam! Dolor nobis ipsa corporis, modi molestias sunt fugit voluptatibus, dolores
                itaque exercitationem incidunt! Eveniet dolor impedit, corporis fuga quidem quo quaerat ullam dolorem ab atque,
                nesciunt nihil soluta veniam eaque quasi sed, temporibus error. Illum aut maxime soluta officiis 
                dignissimos optio magnam perspiciatis voluptatum!
            </p>
    </div>
</body>
</html>